@import url('https://fonts.googleapis.com/css2?family=Dr+Sugiyama&family=Noto+Sans+Khojki&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: url(./img/remodedecocina/fondo\ remodela\ cocina.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
}

.conteiner-remodelacion {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.izq {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 2rem;
}

.titulo-remodelacion {
    font-size: 1.5rem;
    font-weight: bold;
    color: #f8b208;
}

.item-subtitulo {
    font-size: 3rem;
    font-weight: 700;
}

.texto-parrafo {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 1rem 0;
}

.foto-muestra {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.foto-muestra img {
    width: 9rem;
    border-radius: 1rem;
}

.derech {
    width: 100%;
}

.imagen-derecha {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    min-height: 100vh;
}

/* Media queries para tablets (481px a 768px) */
@media screen and (min-width: 481px) and (max-width: 768px) {

    .conteiner-remodelacion {
        flex-direction: column;
        padding: 1rem;
    }

    .izq {
        width: 100%;
        padding: 1rem;
        align-items: center;
    }

    .item-subtitulo h2{
        text-align: center;
    }
    
    .texto-parrafo {
        width: 100%;
        font-size: 16px;
        line-height: 24px;
    }

    .derech {
        width: 100%;
        text-align: center;
    }

    .foto-muestra img {
        width: 7rem;
        height: 7rem;
    }

    .imagen-derecha img {
        width: 100%;
    }
}

/* Media queries para teléfonos (máx. 480px) */
@media screen and (max-width: 480px) {

    .conteiner-remodelacion{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem 1rem 0;
    }

    .izq{
        padding: 0;
    }

    .titulo-remodelacion{
        font-size: 2rem;
        text-align: center;
    }

    .item-subtitulo{
        font-size: 100%;
        text-align: center;
    }

    .item-subtitulo h2{
        font-size: 2rem;
        text-decoration: underline
    }

    .texto-parrafo{
        padding: 0 1rem;
        text-align: center;
        font-size: 1.5rem;
    }

    .foto-muestra{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }    

    .imagen-derecha{
        display: flex;
        justify-content: center;
        min-height: 0;
    }

    .imagen-derecha img{
        width: 100%;
    }

    
}