@import url('https://fonts.googleapis.com/css2?family=Dr+Sugiyama&family=Noto+Sans+Khojki&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body { 
    min-height: 100vh;
    background-image:url(./img/avanceobradesimg.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
}

.container2{
    display: none;
}

.titulo {
    margin: 2rem 0 0;
    font-size: 3rem;
    font-family: "Noto Sans", sans-serif;
    color: #000;
    font-weight: 600;
}

.subtitulo {
    margin: 0;
    color: #000;
    display: inline;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Noto Sans", sans-serif;
    
}

.texto { 
    text-decoration: none;
    display: inline-block;
    color:#000;
    border-radius: 10px;
    font-weight: bold;
    font-size: .8rem;

}

.carousel-texto{
    padding: 5px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

.linea-division {
    width: 100%;
    height: 2px;
    background-color: #000;
}

.flechita{
    color:#f8b208 ;
    font-weight: bold;
    font-size: 1.2rem;
    width: 100%;
    transition: .3s ease;
}

.flechita:hover i{
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -ms-transform: scale(0.6);
}


/* Estilo de Materialize */
.carousel{
    min-height: 500px;
}
.carousel .carousel-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    width: 450px;
    height: 450px;
}

.carousel .carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 15px;
}

.carousel .indicators .indicator-item{
    border-radius: 0;
    transform: rotate(45deg);
    margin: 14 0px;
    background: #f8b208;
}


@media screen and (max-width: 1024px){
    .container{
        display: none;
    }
    .container2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .avanses-titulo h1{
        text-align: center;
        margin: 3rem 0;
    }

    .content{
        display: flex;    
        flex-wrap: wrap;   
        justify-content: center;
    }

    .avanses-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
    }

    .avanses-imagen img{
        width: 100%;
    }

    .avanses-subtitulo h2{
        font-size: 2rem;
        text-decoration: underline;
        font-weight: bolder;
    }

    .texto{
        font-size: 1rem;
    }

}

/* Para tablets (min-width: 481px y max-width: 768px) */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .container{
        display: none;
    }

    .container2{
        display: block;
    }

    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .avanses-titulo h1{
        font-size: 3rem;
        font-weight: bold;
        text-align: center;
        margin: 4rem 0;
    }

    .avanses-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
    }

    .avanses-subtitulo h2{
        font-size: 2rem;
        font-weight: bolder;
        text-align: center;
        text-decoration: underline;
    }

    .avanses-parrafo p{
        margin: 0 1rem;
        font-size: 1.5rem;
        text-align: center;
    }
}

/* Para dispositivos móviles (max-width: 480px) */

@media screen and (max-width: 480px){
    .container{
        display: none;
    }

    .container2{
        display: block;
    }

    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .avanses-titulo h1{
        font-size: 3rem;
        font-weight: bold;
        text-align: center;
        margin: 4rem 0;
    }

    .avanses-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
    }

    .avanses-subtitulo h2{
        font-size: 2rem;
        font-weight: bolder;
        text-align: center;
        text-decoration: underline;
    }

    .avanses-parrafo p{
        margin: 0 1rem;
        font-size: 1.5rem;
        text-align: center;
    }
}