@import url('https://fonts.googleapis.com/css2?family=Dr+Sugiyama&family=Noto+Sans+Khojki&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Noto Sans", sans-serif;
}

body{
    max-height: 100vh;
    line-height: 1rem;
    background-color: #f8b208;
}

.container{
    display: flex;
}

.izquierda{
    background-color: white;
    padding: 3rem 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.titulo{
    display: flex;
    justify-content: center;
}

.titulo img{
    width: 70%;
}

.galeria{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}

.galeria img{
    width: 15%;
    border-radius: 10px;
}

.derecha{
    width: 40%;
    color: white;
    display: flex;
    flex-direction: column;
    gap: .15rem;
    background-color: white;
}

.sup{
    padding: 2rem 3rem;
    text-align: center;
    background-color: white;
    font-size: .8rem;
}

.sup h2{
    color: #545454;
    margin-bottom: 1rem;
}

.sup h3{
    color:#f8b208;
}




.med{
    background-color: #545454;
    padding: 2rem 3rem;
}
.med h2{
    font-size: 1rem;
    margin-bottom: 2rem;
}

.med ul li{
    font-size: .75rem;
}

.inf{
    background-color: #545454;
    padding: 2rem 3rem;
}

.inf h2{
    font-size: 1rem;
    margin-bottom: 2rem;
}

.inf ul li{
    font-size: .75rem;
}


@media screen and (max-width: 1024px){

    .izquierda{
        padding: 0;
    }

    .titulo img{
        width: 90%;
    }

    .derecha{
        width: unset;
    }
}

/* Responsive para Teléfonos (max-width: 480px) */
@media screen and (max-width: 480px) {
    .container {
        flex-direction: column;
    }

    .izquierda, .derecha {
        width: 100%;
        padding: 1rem;
    }

    .titulo img {
        width: 90%;
    }

    .galeria img {
        width: 30%;
    }

    .sup h2, .sup h3, .med h2, .inf h2 {
        font-size: 1.2rem;
    }

    .sup h3 {
        font-size: 1rem;
    }

    .med ul li, .inf ul li {
        font-size: 0.6rem;
    }
}

/* Responsive para Tablets (min-width: 481px y max-width: 768px) */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .izquierda, .derecha {
        width: 100%;
        padding: 2rem;
    }

    .titulo img {
        width: 80%;
    }

    .galeria img {
        width: 20%;
    }

    .sup h2, .sup h3, .med h2, .inf h2 {
        font-size: 1.4rem;
        line-height: 1.2rem;
    }

    .sup h3 {
        font-size: 1.2rem;
    }

    .med ul li, .inf ul li {
        font-size: 0.8rem;
    }
}