@import url('https://fonts.googleapis.com/css2?family=Dr+Sugiyama&family=Noto+Sans+Khojki&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Noto Sans", sans-serif;
}

body {
    background-image: url(../img/fondo\ llave.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
}

.llave{
    background-color: gray;
    padding-bottom: 10px;
}

.container{
    display: flex;
}

.izq{
    width: 70%;
    padding: 1rem;
}

.titulo {
    color: #545454;
}

.der{
    width: 30%;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.img-llave{
    border-radius: 10%;
}

.ama {
    position: absolute;
    right: 0;
    bottom: 0;
}

.ama img{
    width: 70%;
    float: right;
}

